@charset "utf-8";

/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000
}

li {
    list-style: none;
}

fieldset{
    
}
button{
    
}

html {
    font-size: 1em;
    /*font-size: 0.625em;*/
    line-height: 1;
}

body {
    font-family: arial, sans-serif;
}

/*global*/
.clearfix:after {
content: " ";
clear: both;
display: block
}

.screen_out {
    position: absolute;
    top: -9999em;
    left: -999em;
}

.ir_pm{
    text-indent:-999em;
    white-space: nowrap;
    overflow:hidden;
}

@font-face{
    font-family:'NanumBarunGothic';
    src: url(../fonts/NanumBarunGothic.eot);
    src: url(../fonts/NanumBarunGothic.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
    url(../fonts/NanumBarunGothic.woff) format('woff2'); /* Super Modern Browsers */
    font-style: normal;
}
.font_less{
    font-size: 0;
}
/* pc */
/* @media all and (min-width: 1025px) {
.wrap{width:1200px;}
}*/

/* tablet */
/*@media all and (min-width: 768px) and (max-width: 1024px) {
.wrap{width:712px;}
}*/

/* phone */
/*@media all and (max-width: 767px) {
.wrap{width:320px;}
}*/

/* index */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

/* info */
.info_link{
    width: 100%;
    height: 70px;
}
.info_wrap{
    display: block;
    width: 1276px;
    height: 100%;
    margin: 0 auto;
    padding-top:21px
}
.info_wrap form {
    width:300px;
    height: 100%;
    float: left;
}
.info_wrap form #sSearch{
    width: 180px;
    border:none;
    border-bottom: 1px solid #ccc;
    z-index: 90;
    padding-right:25px;
    font-size: 18px;
}
.info_wrap form #sSearch:focus{
    outline-width: 0;
}
.info_wrap form #search_btn{
    width: 20px;
    height: 20px;
    background: url(../images/cjw-icon-search1.png) no-repeat center/contain;
    border:none;
    z-index:100;
    cursor: pointer;
    transform:translateX(-25px) ;
}

.info_wrap form #search_btn:focus{
    outline-width: 0;
    cursor: pointer;
}
.info_wrap>ul{
    width: 315.990px;
    height: 100%;
    float: right;
}
/* .info_wrap>ul>li{
    height: 100%;
} */

.info_wrap>ul>li>a{
    display: block;
    width: auto;
    height: 100%;
    float: left;
    padding: 0px 10px;
    border-right: 1px solid #000;
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
}
.info_wrap>ul>li:nth-of-type(1)>a{
    color:#02b5d6;
}
.info_wrap>ul>li:last-child>a{
    border-right: none;
}
/* gnb */
header{
    width: 100%;
    height: 120px;
}
header .gnb_wrap{
    width:1276px;
    height: 100%;
    margin: 0 auto;
}
.gnb_wrap>h1{
    display: block;
    width: 184px;
    height: 66px;
    float: left;
    padding-top:23px
}
.gnb_wrap>ul{
    width: 755px;
    height: 100%;
    float: right;
    padding-top: 44px;
}

.gnb_wrap>ul>li>a{
    display: block;
    width: auto;
    height: 100%;
    float: left;
    padding : 0px 10px;
    border-right: 1px solid #000;
    box-sizing: border-box;
    font-size: 23px;
    font-family: 'NanumBarunGothic';
}
.gnb_wrap>ul>li:last-child>a{
    border: none;
}