@charset "utf-8";

/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000
}

li {
    list-style: none;
}

fieldset{
    
}
button{
    
}

html {
    font-size: 1em;
    /*font-size: 0.625em;*/
    line-height: 1;
}

body {
    font-family: 'NanumBarunGothic'
}

/*global*/
.clearfix:after {
content: " ";
clear: both;
display: block
}

.screen_out {
    position: absolute;
    top: -9999em;
    left: -999em;
}

.ir_pm{
    text-indent:-999em;
    white-space: nowrap;
    overflow:hidden;
}

@font-face{
    font-family:'NanumBarunGothic';
    src: url(../fonts/NanumBarunGothic.eot);
    src: url(../fonts/NanumBarunGothic.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
    url(../fonts/NanumBarunGothic.woff) format('woff2'); /* Super Modern Browsers */
    font-style: normal;
}
.font_less{
    font-size: 0;
}
/* pc */
/* @media all and (min-width: 1025px) {
.wrap{width:1200px;}
}*/

/* tablet */
/*@media all and (min-width: 768px) and (max-width: 1024px) {
.wrap{width:712px;}
}*/

/* phone */
/*@media all and (max-width: 767px) {
.wrap{width:320px;}
}*/

/* index */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

/* info */
.info_link{
    width: 100%;
    height: 70px;
    background-color: #FFF;
}
.info_wrap{
    display: block;
    width: 1276px;
    height: 100%;
    margin: 0 auto;
    padding-top:21px;
}
.info_wrap form {
    width:300px;
    height: 100%;
    float: left;
}
.info_wrap form #sSearch{
    width: 180px;
    border:none;
    border-bottom: 1px solid #ccc;
    padding-right:25px;
    font-size: 18px;
}
.info_wrap form #sSearch:focus{
    outline-width: 0;
}
.info_wrap form #search_btn{
    width: 20px;
    height: 20px;
    background: url(../images/cjw-icon-search1.png) no-repeat center/contain;
    border:none;
    cursor: pointer;
    transform:translateX(-25px) ;
}

.info_wrap form #search_btn:focus{
    outline-width: 0;
    cursor: pointer;
}
.info_wrap>ul{
    width: 315.990px;
    height: 100%;
    float: right;
}
/* .info_wrap>ul>li{
    height: 100%;
} */

.info_wrap>ul>li>a{
    display: block;
    width: auto;
    height: 100%;
    float: left;
    padding: 0px 10px;
    border-right: 1px solid #000;
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
}
.info_wrap>ul>li:nth-of-type(1)>a{
    color:#02b5d6;
}
.info_wrap>ul>li:last-child>a{
    border-right: none;
}
/* gnb */
header{
    width: 100%;
    height: 120px;
    background-color: #FFF;
    border-bottom: 1px solid #ccc;
}
header .gnb_wrap{
    width:1276px;
    height: 100%;
    margin: 0 auto;
}
.gnb_wrap>h1{
    display: block;
    width: 184px;
    height: 66px;
    float: left;
    padding-top:23px
}
.gnb{
    width: auto;
    height: 100%;
    float: right;
    padding-top: 57px;
}
.gnb>li{
    display: block;
    width: auto;
    float: left;
}
.gnb>li>a{
    position: relative;
    display: block;
    width: auto;
    height: 100%;
    padding : 0px 20px;
    border-right: 1px solid #000;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'NanumBarunGothic';
}
.gnb>li>a:hover{
    font-weight: bold;
    color:#02b5d6
}
.gnb>li>a:hover::after{
    content: "";
    border-top: #02b5d6 15px solid;
    border-left: #fff 12px solid;
    border-right: #fff 12px solid;
    position: absolute;
    top: 63px;
    left: 45.5%;

    font-size: 0px;
}
/* .gnb>li:nth-of-type(2)>a:hover::after{
    content: "";
    border-top: #02b5d6 15px solid;
    border-left: #fff 12px solid;
    border-right: #fff 12px solid;
    position: absolute;
    top: 190px;
    left: 52.6%;

    font-size: 0px;
} 
.gnb>li:nth-of-type(3)>a:hover::after{
    content: "";
    border-top: #02b5d6 15px solid;
    border-left: #fff 12px solid;
    border-right: #fff 12px solid;
    position: absolute;
    top: 190px;
    left: 59.5%;
    font-size: 0px;
} 
.gnb>li:nth-of-type(4)>a:hover::after{
    content: "";
    border-top: #02b5d6 15px solid;
    border-left: #fff 12px solid;
    border-right: #fff 12px solid;
    position: absolute;
    top: 190px;
    left: 66.5%;

    font-size: 0px;
} 
.gnb>li:nth-of-type(5)>a:hover::after{
    content: "";
    border-top: #02b5d6 15px solid;
    border-left: #fff 12px solid;
    border-right: #fff 12px solid;
    position: absolute;
    top: 190px;
    left: 73.9%;
    font-size: 0px;
} 
.gnb>li:nth-of-type(6)>a:hover::after{
    content: "";
    border-top: #02b5d6 15px solid;
    border-left: #fff 12px solid;
    border-right: #fff 12px solid;
    position: absolute;
    top: 190px;
    left: 80%;

    font-size: 0px;
}  */

.gnb>li:last-child>a{
    border: none;
}
/* gnb submenu */
/* .gnb>li:hover .gnb_submenu::before{
    content: '_';
    background: url(http://127.0.0.1:5500/rawHTML/subject%202_cj/project_work/css/../images/cjw-arrow-nav-bottom-fill.png) no-repeat center/contain;
    font-size: 39px;
    text-align: center;
    position: relative;
    left: 46%;
} */
.gnb_submenu{
    position: absolute;
    top:190px;
    left:0px;
    width: 100%;
    height: 300px;
    margin-top: 10px;
}
.gnb_submenu>div{
    width: 1276px;
    height: 100%;
    margin: 0 auto;
}
/* .gnb_wrap>.gnb>li:hover> .gnb_submenu{
    position:absolute;
    top: 190px;
    left: 0px;
    -webkit-transition: 0s ease-in-out;
} */
.container_center{
    /* display: flex; */
    /* width: 752px; */
    /* width: 55%; */
    height: 100%;
    float: right;
    margin: 0 auto;
    /* margin-left:488px; */
    /* margin-right: 4.5%; */
    /* justify-content: center; */
}
.container_center>.gnb_left{
    display: block;
    /* width: 52%; */
    width: 395px;
    height: 100%;
    float: left;
    padding-top: 35px;
    border-right : 1px solid #CCC;
    line-height: 2;
}
.container_center>.gnb_left>ul{
    display: block;
    width:50%;
    height: 100%;
    float: left;

}
.gnb>li:nth-of-type(1) .container_center>.gnb_left>ul{
    display: block;
    width:33%;
    height: 100%;
    float: left;
}
.gnb_left a:hover{
    font-weight: bold;
}
.container_center>.gnb_right{
    position: relative;
    display: block;
    /* width: 48%; */
    width:375px;
    height: 100%;
    float: left;
    padding-top: 35px;
}
/* 브렌드스토리 right */
.gnb>li:nth-of-type(1) .gnb_right{
    position: relative;
    display: block;
    /* width: 48%; */
    width:375px;
    height: 100%;
    float: left;
    padding-top:  25px;
    background: url(../images/cjw-bg-nav-brandStory.jpg) no-repeat right bottom;
}
.gnb>li:nth-of-type(1) .gnb_right>div{
    width: 70%;
    height: 100%;
    padding-left: 30px;
}
.gnb>li:nth-of-type(1) .gnb_right>div>div{
    width: 100%;
    height: 60px;
    font-size: 32px;
    line-height: 2;
    margin-bottom: 15px;
}
.gnb>li:nth-of-type(1) .gnb_right>div>a {
    width: 107px;
    height: 36px;
    border: 2px solid #ccc;
    background: url(../images/cjw-plus-section-blue.png) no-repeat 74px ;
    padding: 9px 33px 9px 10px ;
}
/* 푸드캐스트 right */
.gnb>li:nth-of-type(2) .gnb_right{
    position: relative;
    display: block;
    /* width: 48%; */
    width:375px;
    height: 100%;
    float: left;
    padding-top:  25px;
    background: url(../images/cjw-bg-nav-foodCast.jpg) no-repeat right bottom;
}
.gnb>li:nth-of-type(2) .gnb_right>div{
    width: 80%;
    height: 100%;
    padding-left: 30px;
}

.gnb>li:nth-of-type(2) .gnb_right>div>div{
    width: 100%;
    height: 60px;
    font-size: 32px;
    line-height: 2;
    margin-bottom: 10px;
}
.gnb>li:nth-of-type(2) .gnb_right>div>p{
    line-height: 1.5;
    padding-bottom: 10px;
}
.gnb>li:nth-of-type(2) .gnb_right>div>a {
    display: block;
    width: 107px;
    height: 36px;
    border: 2px solid #ccc;
    background: url(../images/cjw-plus-section-blue.png) no-repeat 74px ;
    padding: 9px 33px 9px 10px ;
}
/* 푸드노하우 right */
.gnb>li:nth-of-type(3) .gnb_right{
    position: relative;
    display: block;
    /* width: 48%; */
    width:375px;
    height: 100%;
    float: left;
    padding-top:  25px;
    background: url(../images/cjw-bg-nav-foodKnowhow.jpg) no-repeat right bottom;
}
.gnb>li:nth-of-type(3) .gnb_right>div{
    width: 80%;
    height: 100%;
    padding-left: 30px;
}

.gnb>li:nth-of-type(3) .gnb_right>div>div{
    width: 100%;
    height: 60px;
    font-size: 32px;
    line-height: 2;
    margin-bottom: 10px;
}
.gnb>li:nth-of-type(3) .gnb_right>div>p{
    line-height: 1.5;
    padding-bottom: 10px;
}
.gnb>li:nth-of-type(3) .gnb_right>div>a {
    display: block;
    width: 107px;
    height: 36px;
    border: 2px solid #ccc;
    background: url(../images/cjw-plus-section-blue.png) no-repeat 74px ;
    padding: 9px 33px 9px 10px ;
}

/* 청정원 sns */
.gnb>li:nth-of-type(4) .gnb_right{
    position: relative;
    display: block;
    /* width: 48%; */
    width:375px;
    height: 100%;
    float: left;
    padding-top:  25px;
}
.gnb>li:nth-of-type(4) .gnb_right>div{
    width: 100%;
    height: 100%;
    padding-left: 30px;
}

.gnb>li:nth-of-type(4) .gnb_right>div>div{
    width: 100%;
    height: 60px;
    font-size: 32px;
    line-height: 2;
    margin-bottom: 10px;
}
.gnb>li:nth-of-type(4) .gnb_right>div>p{
    line-height: 1.5;
    padding-bottom: 10px;
}
.gnb>li:nth-of-type(4) .gnb_right>div>ul{
    width: 100%;
    height: 60px;
}
.gnb>li:nth-of-type(4) .gnb_right>div>ul>li:nth-of-type(1){
    width: 13.66%;
    margin-right: 5px;
    height: 100%;
    float: left;
    border-radius: 50%;
    background: url(../images/cjw-sns-facebook.png) no-repeat center/contain;
}
.gnb>li:nth-of-type(4) .gnb_right>div>ul>li:nth-of-type(2){
    width: 13.66%;
    margin-right: 5px;
    height: 100%;
    float: left;
    border-radius: 50%;
    background: url(../images/cjw-sns-kakao.png) no-repeat center/contain;
}
.gnb>li:nth-of-type(4) .gnb_right>div>ul>li:nth-of-type(3){
    width: 13.66%;
    margin-right: 5px;
    height: 100%;
    float: left;
    border-radius: 50%;
    background: url(../images/cjw-sns-blog.png) no-repeat center/contain;
}
.gnb>li:nth-of-type(4) .gnb_right>div>ul>li:nth-of-type(4){
    width: 13.66%;
    margin-right: 5px;
    height: 100%;
    float: left;
    border-radius: 50%;
    background: url(../images/cjw-sns-twitter.png) no-repeat center/contain;
}
.gnb>li:nth-of-type(4) .gnb_right>div>ul>li:nth-of-type(5){
    width: 13.66%;
    margin-right: 5px;
    height: 100%;
    float: left;
    border-radius: 50%;
    background: url(../images/cjw-sns-instagram.png) no-repeat center/contain;
}
.gnb>li:nth-of-type(4) .gnb_right>div>ul>li:nth-of-type(6){
    width: 13.66%;
    margin-right: 5px;
    height: 100%;
    float: left;
    border-radius: 50%;
    background: url(../images/cjw-sns-youtube.png) no-repeat center/contain;
}
.gnb>li:nth-of-type(4) .gnb_right>div>ul>li>a{
    width: auto;
    height: 100%;
    float: left;
    border-radius: 50%;
}
/* 청정원프렌즈 right*/
.gnb>li:nth-of-type(5) .gnb_right{
    position: relative;
    display: block;
    /* width: 48%; */
    width:375px;
    height: 100%;
    float: left;
    padding-top:  25px;
    background: url(../images/cjw-bg-nav-friends.jpg) no-repeat right bottom;
}
.gnb>li:nth-of-type(5) .gnb_right>div{
    width: 80%;
    height: 100%;
    padding-left:  25px;
}

.gnb>li:nth-of-type(5) .gnb_right>div>div{
    width: 100%;
    height: 60px;
    font-size: 32px;
    line-height: 2;
    margin-bottom: 10px;
}
.gnb>li:nth-of-type(5) .gnb_right>div>p{
    line-height: 1.5;
    padding-bottom: 10px;
}
.gnb>li:nth-of-type(5) .gnb_right>div>a {
    display: block;
    width: 107px;
    height: 36px;
    border: 2px solid #ccc;
    background: url(../images/cjw-plus-section-blue.png) no-repeat 74px ;
    padding: 9px 33px 9px 10px ;
}
/* 이벤트 right */
.gnb>li:nth-of-type(6) .gnb_right{
    position: relative;
    display: block;
    /* width: 48%; */
    width:375px;
    height: 100%;
    float: left;
    padding-top:  25px;
    background: url(../images/cjw-bg-nav-event.jpg) no-repeat right bottom;
}
.gnb>li:nth-of-type(6) .gnb_right>div{
    width: 80%;
    height: 100%;
    padding-left:  25px;
}

.gnb>li:nth-of-type(6) .gnb_right>div>div{
    width: 100%;
    height: 60px;
    font-size: 32px;
    line-height: 2;
    margin-bottom: 10px;
}
.gnb>li:nth-of-type(6) .gnb_right>div>p{
    line-height: 1.5;
    padding-bottom: 10px;
}
.gnb>li:nth-of-type(6) .gnb_right>div>a {
    display: block;
    width: 107px;
    height: 36px;
    border: 2px solid #ccc;
    background: url(../images/cjw-plus-section-blue.png) no-repeat 74px ;
    padding: 9px 33px 9px 10px ;
}