<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
    <style>
        *{ box-sizing: border-box;
        }
        h1,h4{text-align: center;color: bisque;
            text-shadow: 1px 1px peru;
        }
        p{font-size: x-large;margin: 0%;padding-top: 2%;color: dimgray;}
        img{padding: 2%;width:50%;float: left;
        }
        #rome{padding-left: 10%;padding-top: 52%;margin-bottom: -1%;}
    </style>
</head>
<body>
    <h1>eunseo room</h1>
    <h4>welcome!</h4>
    <img src="../../public/images/eunseo/3.jpg">
    <p>
        2019. 07 paris
    </p>
    <img src="../../public/images/eunseo/4.jpg"style="float: right">

    <img src="../../public/images/eunseo/5.jpg"style="float: left">
    <p id="rome">
        2019. 07 rome
    </p>
    <img src="../../public/images/eunseo/8.jpg"style="float: right">
</body>
</html>