<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seonwoong</title>
</head>
<body>
    <main>
        <h1 style="font-weight: bold">Cho Seonwoong</h1>
        <div><input type="button" value="홈으로" onclick="
        location.href='https://huhs-webteam.herokuapp.com/'
        " style="
       width: 96px;
       height: 42px;
       background-color: #EF3B3A;
       color: white;
       font-weight: bold;
       font-size: 15px;
       border: #EF3B3A;
        "></div>
    </main>
</body>
</html>