@charset "utf-8";

/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000
}

li {
    list-style: none;
}

fieldset{
    
}
button{
    
}

html {
    font-size: 1em;
    /*font-size: 0.625em;*/
    line-height: 1;
}

body {
    font-family: arial, sans-serif;
}

/*global*/
.clearfix:after {
content: " ";
clear: both;
display: block
}

.screen_out {
    position: absolute;
    top: -9999em;
    left: -999em;
}

.ir_pm{
    text-indent:-999em;
    white-space: nowrap;
    overflow:hidden;
}

/* pc */
/* @media all and (min-width: 1025px) { 
.wrap{width:1200px;}
}
*/
/* tablet */
/* @media all and (min-width: 768px) and (max-width: 1024px) { 
.wrap{width:712px;}
} */

/* phone */
/* @media all and (max-width: 767px) {
.wrap{width:320px;}
} */

/* index */

header{
    width:100%;
    height:6rem;
    background-color: #111130;
    color:white;
    line-height: 2;
}
header h1{
    width:200px;
    height:6rem;
    float:left;
    font-size:3rem;
}
header ul{
    padding-left:20px;
}
header li{
    display: block;
    width:150px;
    height:6rem;
    padding-left:10px;
    float:left;
}