<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="">
        <meta name="author" content="park seong ho">
        <meta name="description" content="true형">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale=2, minimum-scale=1, user-scable=yes shrink-to-fit=no">
        <title>과제 true 박성호</title>
        <link rel="stylesheet" href="stylesheets/true/style.css" type="text/css">
    </head>
    <body>
        <header>
            <h2 class="screen_out">맨위 이미지</h2>
            <span class="font_less">topimg</span>
            <P>chosungmi.com</P>
        </header>
        <main>
            <div class="top">
                <div class="logo font_less">logo_true</div>
            </div>
            <div class="wraper">
                <section class="line1">
                    <article>
                        <h2 class="screen_out">article01</h2>
                        <div><img src="images/true/img01.png" alt="이미지1"></div>  
                        <div><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic in beatae fuga ad aliquid ipsa optio praesentium perferendis maiores qui Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis molestiae aliquid rerum provident ipsum, fugiat at, iusto maiores reiciendis repudiandae soluta quasi officia mollitia possimus ex fugit nulla laudantium impedit.</p></div>      
                    </article>
                    <article>
                        <h2 class="screen_out">article02</h2>
                        <div><img src="images/true/img04.png" alt="이미지4"></div>  
                        <div><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic in beatae fuga ad aliquid ipsa optio praesentium perferendis maiores qui vamet consectetur, adipisicing elit. Hic in beatae fuga ad aliquid ipsa optio praesentium perferendis maiores qui Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim quibusdam aliquam maiores labore quod iure tempore harum facilis obcaecati quo, cum sapiente nobis quasi soluta minus necessitatibus consectetur nisi nesciunt?</p></div>      
                    </article>
                </section>
                <section class="line2">
                    <article>
                        <h2 class="screen_out">article03</h2>
                        <div><img src="images/true/img02.png" alt="이미지2"></div>  
                        <div><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic in beatae fuga ad aliquid ipsa optio praesentium perferendis maiores qui lo</p></div>      
                    </article>
                    <article>
                        <h2 class="screen_out">article04</h2>
                        <div><img src="images/true/img05.png" alt="이미지5"></div>  
                        <div><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic in beatae fuga ad aliquid ipsa optio praesentium perferendis maiores qui Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit officia non illum vel sit, harum asperiores temporibus ex maxime beatae, repellat quam animi laboriosam provident architecto! Repellendus pariatur beatae cumque.</p></div>      
                    </article>
                </section>
                <section class="line3">
                    <article>
                        <h2 class="screen_out">article05</h2>
                        <div><img src="images/true/img03.png" alt="이미지3"></div>  
                        <div><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic in beatae fuga ad aliquid ipsa optio praesentium perferendis maiores qui Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis cupiditate deleniti eum consequuntur perferendis quibusdam fuga, soluta sit tempore nihil dolore. Quos ullam adipisci laboriosam excepturi eveniet fugit possimus libero! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat illum dolorum quibusdam maiores voluptates Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates vel eaque velit illo, amet alias perferendis sint possimus recusandae. Maxime, commodi dicta? Pariatur ipsum tempora alias fuga, blanditiis voluptatum ab? </p></div>      
                    </article>
                </section>
                <section class="line4">
                    <article>
                        <h2 class="screen_out">article06</h2>
                        <div><img src="images/true/img04.png" alt="이미지4"></div>  
                        <div><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic in beatae fuga ad aliquid ipsa optio praesentium perferendis maiores qui Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe, consectetur rerum. Corporis perspiciatis molestiae aliquam, odio debitis, possimus id accusantium labore voluptatem repudiandae totam dicta! Eaque placeat voluptate debitis quo.</p></div>      
                    </article>
                    <article>
                        <h2 class="screen_out">article07</h2>
                        <div><img src="images/true/img07.png" alt="이미지7"></div>  
                        <div><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic in beatae fuga ad aliquid ipsa optio praesentium perferendis maiores qui Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quas omnis corporis, neque, fugit libero cum numquam saepe in hic atque optio doloremque mollitia soluta, esse rerum blanditiis repellat perspiciatis.</p></div>      
                    </article>
                </section>
            </div>
        </main>
    </body>
</html>